# data 
data_clean/aires_repartition.gpkg
data_clean/aires_protegees_union.gpkg
data_clean/aires_union.gpkg

data_raw/*

# images
images/

# gh-page
/.quarto/
*.html
index_files
.vscode

# renv
.Rprofile
renv/