# data 
data_clean/*
data_raw/*

# results
results/*.RDS
results/*.rds
results/*.csv
## keep combined results
!results/SPI_ranges.csv
!results/spi_occ.csv
!results/spi_inla.csv

# gh-page
/.quarto/
*.html
index_files
.vscode

# renv
.Rprofile
.Rhistory
renv/