# data 
data_clean/*
data_raw/*

# results
results/*
## keep combined results
!results/spi_ranges.csv
!results/spi_occ.csv
!results/spi_inla.csv
## Keep all plots
!results/figures/*

# gh-page
/.quarto/
*.html
index_files
.vscode

# renv
.Rprofile
renv/